.recipes__container-main {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid 2px #f66b80;
  background-color: #f66b80;
}

.recipes__cbx {
    /* border: 1px solid black; */
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    font-size: 17px;
}

.recipes__content{
  display: flex;
  flex-direction: row;
  /* border: solid red 30px; */
  margin-bottom: 85px;
}

.recipe__section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.recipe__card{
  /* width: 200px; */
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.recipe__card a {
  text-decoration: none;
  color: white;
}

.recipe__img{
  height: 150px;
  border-radius: 10px;
}