.headerd__container {
  background-color: var(--background-header);
  border-bottom: var(--background-login) 2px solid;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.card__image {
  width: 300px;
  border-radius: 10px;
  margin: 20px 0;
}

.card__container-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* padding: 20px; */
  /* border: 2px solid #000; */
}

.card__container-main {
  background-color: var(--background-header);
  color: white;
}

#headerd__title {
  text-align: center;
}

#headerd__back {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: white;
  width: 100%;
}

.card__division {
  width: 80%;
}