.footer {
  bottom: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #cd2e3e;
}

.recipes__meal-icon, .recipes__drink-icon {
  padding: 15px;
}