/* 
  #F23649 #49F23E 

  #F23649 #F24936 #F2B236

  #F23649 #DF1E38 #AA1121

  #F23649 #F26B6E #F29DA0

*/

:root {
  --background-login: #DF1E38;
  --backgrund-header: #F23649;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* max-width: 600px; */
  /* height: 100vh; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  /* border: solid 2px red;
  position: fixed;
  padding: 10px;
  width: 100%; */
}

.recommendation-container {
  overflow-x: auto;
  white-space: nowrap;
}

.recommendation-scroll {
  display: inline-block;
}

.recommendation-card {
  display: inline-block;
  margin-right: 10px;
  width: 200px; /* Ajuste o tamanho conforme necessário */
}

.recommendation-img {
  width: 100%;
  height: auto;
}

.recommendation-title {
  margin-top: 5px;
}

.startrecipe__button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

#recipe__continue-button {
  margin-left: 150px;
}

.checked {
  text-decoration: line-through solid rgb(0, 0, 0)
}